*{
    margin: 0;
    padding: 0;
    background-color:rgb(77, 75, 75);
    color: aliceblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#container{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    border-radius: 30px;
    z-index: 1;
    display: flex;
    justify-content:space-around;
    transition: all 1s ease-out;
    animation: container 3s ease-in 1s 1 reverse ;
    
}




#name{
    display: inline-block;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    background-color: black;
    
}
.tags{
    display: inline-block;
    position: relative;
     background-color: black;
     text-align: center;
} 
a{
    text-decoration: none;
    color: #ffffff;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      background-color: rgb(0, 0, 0);
      border-radius: 3px;
      transition: all 1ms ease-out;
}

a:hover{
    background-color: rgb(0, 0, 0);
    font-size: 34px;
    border: 1px solid white;
}
a:active{
    background-color: rgb(0, 0, 0);
    
}
/* body */
.main{
    height:750px; width: 93%;
    position: absolute;
    top:100px;
    left: 100px;
   
}
#about{ 
  height: 100px; width: 400px; 
    position: relative;
    top: 30px;
}
#who{
    height: 300px; width: 600px;
    position: relative;
    
}
#degree{
     height:300px; width: 600px;
}
#pic{
     height: 500px; width: 450px;
    position: relative;
   left: 60%;
   bottom: 650px;
   border: 1px solid white;
   border-radius: 15px;
   background-image: url(moiz.jpg);
   background-size:cover;
}
#hr{
    position: relative;
    top: 730px;width: 100%; height: 1;
    border: 1px solid rgb(99, 97, 97);
}
#test{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 92.5%;
    right: 0.7px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    width: 100%;
}
#pic:hover{
    height: 550px; width: 500px;
    transition-timing-function: ease-out;
}
  /* dots wali line*/

  #line{
    display: inline-block;
    height: 200px;
    width: 3px;
    background-color: aliceblue;
    position: relative;
    top: 800px;
    left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
.dot{
    background-color: rgb(255, 255, 255);
    height: 20px; width: 20px ;  border-radius: 50%;
    position: relative;
    left: -8px; 
}

.education1{
    display: inline;
    position: absolute;
    top: 840px;
    left: 100px;
    border: 4px solid white;
    height: 100px;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(104, 103, 103), 0 0 15px rgb(104, 103, 103), 0 0 20px rgb(104, 103, 103);
}
.education2{
    display: inline;
    position: absolute;
    top: 940px;
    left: 85px;
    border: 4px solid white;
    height: 100px;
    width: 85%;
     border-radius: 10px;
     margin: 15px;
     box-shadow: 0 0 10px rgb(104, 103, 103), 0 0 15px rgb(104, 103, 103), 0 0 20px rgb(104, 103, 103);
     
}
#mark10{
    border-left:2px solid rgba(255, 242, 242, 0.651);
    height: 80%;
    top: 13px;
    border-radius: 50px;
    position: absolute;
    left: 400px;
}

#mark12{
    border-left:2px solid rgba(255, 242, 242, 0.651);
    height:80%;
    top: 13px;
    border-radius: 10px;
    position: absolute;
    left: 440px;
}

#ul{
    position: absolute;
    left: 500px;
}
/* ######################################### FOOTER ######################################## */
.foot{
    height: 300px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 1150px;
    display: flex;
    justify-content: center;
}
.daba{
    height: 200px;
    width: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.po{
    height: 60px;
    width: 100px;
    margin: 10px;
   
    background-color: black;
}

#l{
    background-color: black;
    font-size: 190%;
}
h4{
    background-color: black;
    margin-top: 17%;
    margin-left: -30%;
    margin-right: 200px;
}
