*{
    margin: 0;
    padding: 0;
    background-color:rgb(77, 75, 75);
    color: aliceblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#container{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    border-radius: 30px;
    z-index: 1;
    display: flex;
    justify-content:space-around;
    transition: all 1s ease-out;
    animation: container 3s ease-in 1s 1 reverse ;
    
}




#name{
    display: inline-block;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    background-color: black;
    
}
.tags{
    display: inline-block;
    position: relative;
     background-color: black;
     text-align: center;
} 
a{
    text-decoration: none;
    color: #ffffff;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      background-color: rgb(0, 0, 0);
      border-radius: 3px;
      transition: all 1ms ease-out;
}

a:hover{
    background-color: rgb(0, 0, 0);
    font-size: 34px;
    border: 1px solid white;
}
a:active{
    background-color: rgb(0, 0, 0);
    
}

/* body */
#main{ 
    position: absolute;
    top: 60px;
    left: 30px;
    height: 700px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#skill{
    
    margin: 30px;
    height: 80px; width: 100%;
    display: inline-block;
}

.skill1{
    font-family: Arial;
    display: inline-block;
    margin: 10px;
    height: 200px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    background-color:rgb(61, 60, 60);
    box-shadow: 0 0 10px rgb(104, 103, 103), 0 0 15px rgb(104, 103, 103), 0 0 20px rgb(104, 103, 103);
}
i{
    background-color:rgb(61, 60, 60);
}
.skill1:hover{
    height:250px;
    width:450px;
    border: 3px solid black;
}
h2{
    color: rgb(153, 153, 238);
}
p{
    line-height: 50px;
}
/* ######################################### FOOTER ######################################## */
.foot{
    height: 300px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 950px;
    display: flex;
    justify-content: center;
}
.daba{
    height: 200px;
    width: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.po{
    height: 60px;
    width: 100px;
    margin: 10px;
   background-color: black;
}
#l{
    background-color: black;
    font-size: 190%;
}
h4{
    background-color: black;
    margin-top: 17%;
    margin-left: -30%;
    margin-right: 200px;
}

